<!DOCTYPE html>
<html>

<head>

    <title>Upload Video</title>

</head>

<body bgcolor=00FF99>
    <h1 align="center">Please click on the "start" button to start the recording:-</h1>
    <br>
    <center>
        <br><br><br><br>
        <video autoplay></video>
        <input id="record" type="button" value="Start recording" /> &nbsp;&nbsp;&nbsp;
        <input id="stop" type="button" value="stop recording" />
        <br><br>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="videoCapture.js"></script>
        <br><br>
        <input type="Submit" value="Register me!" ng-click="tempcall()">
        <br><br>
        <input type="button" value="Go to Login page" ng-click="gotoHome()">
    </center>
</body>

</html>